#Schedules {
    font-family: Work Sans, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Student {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(39, 39, 39);
    height: fit-content;
}

.StudentInfo {
    font-size: 1.2vw;
    font-weight: 600;
}

.Name {
    font-size: 2vw;
    font-weight: bold;
}

.Period {
    font-size: 0.75vw;
    font-weight: 100;
    background-color: rgb(20, 20, 20);
    padding-left: 0.25vw;
    padding-right: 0.25vw;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
    border-radius: 20px;
}

#LogoText {
    font-size: 2vw;
    font-weight: 100;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 5px;
    transition: font-size 1s ease-in-out;
}


#Sidebar {
    width: fit-content;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Montserrat, sans-serif;

    & #Logo {
        display: grid;
        justify-items: center;
        margin-top: 2vh;

        & #LogoImage {
            width: 5vw;
            border-radius: 100px;
        }
    }

    & #Menu {
        overflow-x: hidden;
        overflow-y: auto;
        padding-left: 1vw;
        padding-right: 1vw;
        z-index: 50;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Montserrat', sans-serif;

        & .MenuText {
            font-size: 1.5vw;
            font-weight: 100;
            font-family: 'Work Sans', sans-serif;
            transition: font-size 1s ease-in-out;
            padding-bottom: 1vh;
        }

        & .MenuItem:not(:last-child) {
            margin-top: 0.5vh;
            margin-bottom: 0.5vh;
            padding-left: 1vw;
            padding-right: 1vw;
            border-radius: 20px;
            text-align: center;
            display: flex;
            min-height: 2vh;
            vertical-align: middle;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: rgb(0, 0, 0);
                border-radius: 20px;
                transition: background-color 0.2s ease-in-out;
            }
        }

        & .MenuItem:last-child {
            margin-top: 1vh;
            margin-bottom: 1vh;
            padding-left: 1vw;
            padding-right: 1vw;
            border-radius: 20px;
            text-align: center;
            display: flex;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: rgb(218, 0, 0);
                border-radius: 20px;
                transition: background-color 0.2s ease-in-out;
            }
        }
    }

}

#schedulespage {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#Students {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-y: auto;
}

#SchedulesLabel {
    margin-top: 2vh;
    font-size: 3.5vw;
    transition: font-size 1s ease-in-out;
}

#LoggedIn {
    font-size: 1.5vw;
    font-weight: 100;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    transition: font-size 1s ease-in-out;
}

/* Login Page */

#loginpage {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(31, 31, 31);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
}

#LoginLabel {
    font-size: 1.56vw;
    font-weight: 100;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 5px;
}

.LoginContainer {
    width: 19vw;
    height: 43vh;
    background-color: rgb(39, 39, 39);
    text-align: center;
    color: white;
    z-index: 10000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    margin-top: 50px;
}

#BackgroundImage {
    position: absolute;
    background-image: url(../images/LoginBackground.jpg);
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#MainLogin {
    position: relative;
    z-index: 10000;
    height: 100%;

    & #username,
    & #password {
        background-color: transparent;
        color: white;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-width: 2px;
        border-radius: 0;
        width: 70%;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Work Sans', sans-serif;
        position: relative;
        
        &:focus {
            outline: none;
        }

        &::selection {
            background-color: rgba(0, 116, 255, 0.8);
            width: 10.4vw;
            height: 2.77vh;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px rgb(39, 39, 39) inset !important;
            -webkit-text-fill-color: white !important;
            box-shadow: 0 0 0 30px rgb(39, 39, 39) inset !important;
        }
    }
}

.googlesignin {
    background-color: transparent;
    border-width: 0;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Work Sans', sans-serif;

}

.googlesignin:hover {
    background-color: transparent;
    color: white;
}

#Profile {
    float: right;
    background-color: transparent;
    transition: background-color 0.1s linear;
    border-radius: 10px;
}

#Profile:hover {
    background-color: #00ffc3;
    color: black;
}

#LoginButton {
    width: 70%;
    background-color: rgb(0, 174, 255);
    height: 45px;
    border-radius: 10px;
    border-width: 0;
    font-size: large;
    font-weight: bold;
}

.desktoptopnav {
    background-color: rgb(24, 24, 24);
    position: fixed;
    top: 0;
    overflow: auto;
    width: 100%;
    z-index: 10000;
}

.desktoptopnav button:not(.img) {
    float: left;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: transparent;
    border-width: 0;
}

.content {
    align-content: center;
}

#Error {
    font-size: 20px;
    color: red;
}

#LogoutTitle {
    font-size: 30px;
    font-weight: 100;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 5px;
}

#FullSchedules {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(31, 31, 31, 0.8);
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans', san-serif;
    z-index: 10000;

    & #fullpageschedule {
        width: 80vw;
        height: 75vh;
        border-radius: 30px;
        background-color: rgb(15, 15, 15);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .StudentFull {
            width: 76vw;
            height: 65vh;
            border-radius: 25px;
            background-color: rgb(39, 39, 39);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & #NameFull {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 72vw;
                justify-content: space-between;

                & .Name {
                    font-size: 50px;
                    font-weight: 100;
                    font-family: 'Work Sans', sans-serif;
                }

                & .StudentInfo {
                    font-size: 50px;
                    font-weight: 100;
                    font-family: 'Work Sans', sans-serif;
                }

                & #CloseWindow {
                    font-size: 50px;
                    font-weight: 100;
                    font-family: 'Work Sans', sans-serif;
                    cursor: pointer;
                }
            }

            & .PeriodsFull {
                width: 74vw;
                height: 50vh;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(48, 48, 48);
                border-radius: 20px;
                justify-content: space-around;

                & .PeriodFullTeachers {
                    width: 7.33vw;
                    height: 45vh;
                    background-color: rgb(39, 39, 39);
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: 2px solid rgb(0, 0, 0);

                    & .PeriodFullName {
                        font-size: 50px;
                        font-weight: 100;
                        font-family: 'Work Sans', sans-serif;
                    }

                    & .ClassName {
                        font-size: 30px;
                        font-weight: 100;
                        font-family: 'Work Sans', sans-serif;
                    }

                    & .TeacherFullName {
                        font-size: 20px;
                        font-weight: 100;
                        font-family: 'Work Sans', sans-serif;
                    }
                }
            }
        }
    }
}

/* Home Page */

#homepage {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    align-items: center;
}

#homepage-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;

    & #Disclaimer {
        font-size: 20px;
        font-weight: 100;
        font-family: 'Work Sans', sans-serif;
        margin-top: 20px;
        margin-bottom: 5px;
    }
}

#line {
    width: 100%;
    height: 0;
    background-color: rgb(39, 39, 39);
}

#YourPeriods {
    height: 75vh;
    width: 30vw;
    background-color: rgba(36, 36, 36, 0.8);
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(39, 39, 39);
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: rgb(65, 65, 65);
}

#PeriodsRecent {
    height: 75vh;
    width: 40vw;
    background-color: rgba(36, 36, 36, 0.8);
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PersonalPeriodSelection {
    display: inline-grid;
    grid-template-columns: 5vw 1fr;
    grid-template-rows: 1fr;
    width: 27vw;
    align-content: center;
    align-items: center;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    border-radius: 20px;
    background-color: rgb(26, 26, 26);
    height: 6vh;
}

.PeriodNum {
    font-size: 2vw;
    font-family: 'Work Sans', sans-serif;
    margin-left: 1vw;
}

.PeriodInput {
    border-radius: 20px;
    border-style: none;
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 2vw;
    height: 5vh;
    width: 21vw;
    font-family: Work Sans, sans-serif;
}

.PeriodInput:focus {
    outline: none;
}

#PeriodsLabelMain {
    font-size: 2vw;
    line-height: 80px;
    font-family: 'Work Sans', sans-serif;
}

#main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#home {
    font-size: 4vw;
    font-family: 'Work Sans', sans-serif;
    transition: font-size 1s ease-in-out;
    margin-top: 2vh;
}

#Visited {
    height: 34vh;
    width: 37vw;
    background-color: rgba(26, 26, 26, 0.8);
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-y: auto;
}

#Saved {
    height: 34vh;
    width: 37vw;
    background-color: rgba(26, 26, 26, 0.8);
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-y: auto;
}

#VisitedRecent {
    animation: fontchange 3s ease-in-out forwards;
}

#SavedRecent {
    animation: fontchange 3s ease-in-out forwards;
}

#Save {
    line-height: 5vh;
}

#Grades {
    width: 12vw;
    background-color: rgba(26, 26, 26, 0.8);
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-y: auto;
}

#P {
    display: inline-flex;
}

@keyframes fontchange {
    0% {
        font-size: 0px;
        display: block;
    }

    40% {
        font-size: 50px;
        opacity: 1;
    }

    100% {
        font-size: 50px;
        display: none;
        opacity: 0;
    }
}

// Settings Page

#settingspage {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    align-items: flex-start;

    & #SettingsTopMainLabel {
        font-size: 3vw;
        font-family: 'Work Sans', sans-serif;
        transition: font-size 1s ease-in-out;
        margin-top: 2vh;
    }

    & #Settings {
        font-family: 'Work Sans', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        & #SettingItems {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            & .FirstName, .LastName, .Visible, .Grade, .Username, .Password {
                display: inline-flex;
                flex-direction: row;
                align-items: center;

                & .SettingLabel {
                    color: white;
                }
            }

            & #SaveSettingsButton {
                display: inline-flex;
                flex-direction: row;
                align-items: center;

                & #SaveSettings {
                    background-color: transparent;
                    border-style: solid;
                    border-width: 2px;
                    border-color: white;
                    border-radius: 20px;
                    color: white;
                    font-size: 1.5vw;
                    width: 20vw;
                    height: 7.5vh;
                    margin-bottom: 2vh;
                    margin-left: 1vw;
                    margin-right: 1vw;
                    transition: background-color 0.25s ease-in-out;

                    &:hover {
                        background-color: rgb(82, 139, 57);
                    }
                }
            }

            & .SettingItem {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 25vw;
                height: 9vh;
                background-color: transparent;
                border-radius: 20px;
                border-style: solid;
                border-width: 2px;
                margin-top: 2vh;
                margin-bottom: 2vh;
                border-color: black;
                padding-left: 0.5vw;
                margin-left: 1vw;
                font-size: 1.5vw;
                color: white;

                &.selection {
                    background-color: rgb(48, 48, 48);
                    color: rgb(255, 255, 255);
                }

                &::selection {
                    background-color: transparent;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}