#Name {
    float: right;
}
#NewsOfTheDay {
    background-color: rgba(176, 176, 176, 0);
    border-radius: 30px;
    width: 80%;
    height: 60%;
    color: white;
}

#NamePlate {
    font-size: 100px;
    top: 10%;
    margin-top:30px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}

#Prerequistes {
    display: flex;
    justify-content: center;
}

#Assignments, #Announcements, #UpcomingEvents {
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
    opacity: 0.7;
    width: 30%;
    padding-top: 1px;
    height: 80%;
    margin-left: 75px;
    margin-right: 75px;
    height: 60%;
    min-height: 550px; /* Optional: Set a minimum width for responsiveness */
}